<head>
<style TYPE="text/css">
<!-- 
body {font-size: 10px; font-family: verdana,helvetica,arial}
div {font-size: 10px; font-family: verdana,helvetica,arial}


a:link {color: #000000; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}
a.scnd:link {color: #000000; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}
a:hover {font-family: verdana,arial,helvetica; text-decoration: none; color:#000000; font-size: 12px;}
a:visited {color: #ffffff; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}
a.scnd:visited {color: #ffffff; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}
a.scnd_c:link {color:#000000; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}
a.scnd_c:visited {color: #ffffff; font-family: verdana,helvetica,arial; text-decoration: none; font-size: 12px}


a.one:link {color: #000000}
a.one:visited {color: #000000}
a.one:hover {color: #000000}



.nav
{

color: #ffffff; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 18pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: bold;

}



.splash
{

color: #3366ff; font-family: verdana, helvetica, arial; font-size: 9pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}


.heads
{

color: black; font-family: verdana, helvetica, arial; font-size: 14pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}


.small_head
{

color: black; font-family: verdana, helvetica, arial; font-size: 11pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: bold;

}

.medium_heads
{

color: black; font-family: verdana, helvetica, arial; font-size: 12pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}

.bold_heads
{

color: black; font-family: verdana, helvetica, arial; font-size: 14pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: bold;

}


.copy
{

color: black; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}
.large_copy
{

color: black; font-family: verdana, helvetica, arial; font-size: 11pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}

.smallcopy
{

color: black; font-family: verdana, helvetica, arial; font-size: 7pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}


.highlightedcopy
{

color: #3366ff; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}


.boldcopy
{

color: black; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: bold;

}


.formhead
{

color: black; font-family: verdana, helvetica, arial; font-size: 11pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: bold;

}


.formcopy
{

color: black; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}


.formcopywhite
{

color: white; font-family: verdana, helvetica, arial; font-size: 10pt; 
line-height: 14pt; text-indent: 0pt; font-style: normal; 
font-variant: normal; font-weight: normal;

}






</style>
</head>